<div class="nav__holder nav--sticky">
    <div class="container relative">
        <div class="flex-parent">
            <!-- Side Menu Button -->
            <button aria-label="Open side menu" class="nav-icon-toggle" id="nav-icon-toggle">
                <span class="nav-icon-toggle__box">
                    <span class="nav-icon-toggle__inner"></span>
                </span>
            </button>

            <!-- Logo -->
            <a class="logo" href="index.html">
                <img alt="logo" class="logo__img" src="img/logo_default.png" srcset="img/logo_default.png 1x, img/logo_default@2x.png 2x">
            </a>

            <!-- Nav-wrap -->
            <nav class="flex-child nav__wrap d-none d-lg-block">
                <ul class="nav__menu">
                    <li class="nav__dropdown">
                        <a href="#">Posts</a>
                        <ul class="nav__dropdown-menu nav__megamenu">
                            <li>
                                <div class="nav__megamenu-wrap">
                                    <div class="row">
                                        <div class="col nav__megamenu-item">
                                            <article class="entry">
                                                <div class="entry__img-holder">
                                                    <a href="single-post.html">
                                                        <img alt="" class="entry__img"
                                                             src="img/content/grid/grid_post_1.jpg">
                                                    </a>
                                                    <a class="entry__meta-category entry__meta-category--label entry__meta-category--align-in-corner entry__meta-category--violet"
                                                       href="categories.html">world</a>
                                                </div>

                                                <div class="entry__body">
                                                    <h2 class="entry__title">
                                                        <a href="single-post.html">
                                                            Follow
                                                            These Smartphone Habits of
                                                            Successful Entrepreneurs
                                                        </a>
                                                    </h2>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="col nav__megamenu-item">
                                            <article class="entry">
                                                <div class="entry__img-holder">
                                                    <a href="single-post.html">
                                                        <img alt="" class="entry__img"
                                                             src="img/content/grid/grid_post_2.jpg">
                                                    </a>
                                                    <a class="entry__meta-category entry__meta-category--label entry__meta-category--align-in-corner entry__meta-category--purple"
                                                       href="categories.html">fashion</a>
                                                </div>

                                                <div class="entry__body">
                                                    <h2 class="entry__title">
                                                        <a href="single-post.html">
                                                            3 Things
                                                            You Can Do to Get Your Customers
                                                            Talking About Your Business
                                                        </a>
                                                    </h2>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="col nav__megamenu-item">
                                            <article class="entry">
                                                <div class="entry__img-holder">
                                                    <a href="single-post.html">
                                                        <img alt="" class="entry__img"
                                                             src="img/content/grid/grid_post_3.jpg">
                                                    </a>
                                                    <a class="entry__meta-category entry__meta-category--label entry__meta-category--align-in-corner entry__meta-category--blue"
                                                       href="categories.html">business</a>
                                                </div>

                                                <div class="entry__body">
                                                    <h2 class="entry__title">
                                                        <a href="single-post.html">
                                                            Lose
                                                            These 12 Bad Habits If You're
                                                            Serious About Becoming a
                                                            Millionaire
                                                        </a>
                                                    </h2>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="col nav__megamenu-item">
                                            <article class="entry">
                                                <div class="entry__img-holder">
                                                    <a href="single-post.html">
                                                        <img alt="" class="entry__img"
                                                             src="img/content/grid/grid_post_4.jpg">
                                                    </a>
                                                    <a class="entry__meta-category entry__meta-category--label entry__meta-category--align-in-corner entry__meta-category--green"
                                                       href="categories.html">lifestyle</a>
                                                </div>

                                                <div class="entry__body">
                                                    <h2 class="entry__title">
                                                        <a href="single-post.html">
                                                            10
                                                            Horrible Habits You're Doing
                                                            Right Now That Are Draining Your
                                                            Energy
                                                        </a>
                                                    </h2>
                                                </div>
                                            </article>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul> 
                        <!-- end megamenu -->
                    </li>
                </ul> 
                <!-- end menu -->
            </nav> 
            <!-- end nav-wrap -->

            <!-- Nav Right -->
            <div class="nav__right">
                <!-- Search -->
                <div class="nav__right-item nav__search">
                    <a class="nav__search-trigger" href="#" id="nav__search-trigger">
                        <i class="ui-search nav__search-trigger-icon"></i>
                    </a>
                    <div class="nav__search-box" id="nav__search-box">
                        <form class="nav__search-form">
                            <input class="nav__search-input" placeholder="Search an article" type="text">
                            <button class="search-button btn btn-lg btn-color btn-button" type="submit">
                                <i class="ui-search nav__search-icon"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div> 
            <!-- end nav right -->
        </div> 
        <!-- end flex-parent -->
    </div> 
    <!-- end container -->
</div>