<!-- close -->
<div class="sidenav__close">
    <button aria-label="close sidenav" class="sidenav__close-button" id="sidenav__close-button">
        <i class="ui-close sidenav__close-icon"></i>
    </button>
</div>

<!-- Nav -->
<nav class="sidenav__menu-container">
    <ul class="sidenav__menu" role="menubar">
        <li>
            <a class="sidenav__menu-url" href="#">Home</a>
            <button aria-haspopup="true" aria-label="Open dropdown" class="sidenav__menu-toggle">
                <i class="ui-arrow-down"></i>
            </button>
            <ul class="sidenav__menu-dropdown">
                <li><a class="sidenav__menu-url" href="index.html">Home Default</a></li>
                <li>
                    <a class="sidenav__menu-url" href="index-politics.html">Home Politics</a>
                </li>
                <li><a class="sidenav__menu-url" href="index-fashion.html">Home Fashion</a></li>
                <li><a class="sidenav__menu-url" href="index-games.html">Home Games</a></li>
                <li><a class="sidenav__menu-url" href="index-videos.html">Home Videos</a></li>
                <li><a class="sidenav__menu-url" href="index-music.html">Home Music</a></li>
            </ul>
        </li>
        <li>
            <a class="sidenav__menu-url" href="#">Pages</a>
            <button aria-haspopup="true" aria-label="Open dropdown"
                    class="sidenav__menu-toggle">
                <i class="ui-arrow-down"></i>
            </button>
            <ul class="sidenav__menu-dropdown">
                <li><a class="sidenav__menu-url" href="about.html">About</a></li>
                <li><a class="sidenav__menu-url" href="contact.html">Contact</a></li>
                <li>
                    <a class="sidenav__menu-url" href="search-results.html">Search Results</a>
                </li>
                <li><a class="sidenav__menu-url" href="categories.html">Categories</a></li>
                <li><a class="sidenav__menu-url" href="404.html">404</a></li>
            </ul>
        </li>
        <li>
            <a class="sidenav__menu-url" href="#">Features</a>
            <button aria-haspopup="true" aria-label="Open dropdown"
                    class="sidenav__menu-toggle">
                <i class="ui-arrow-down"></i>
            </button>
            <ul class="sidenav__menu-dropdown">
                <li>
                    <a class="sidenav__menu-url" href="#">Single Post</a>
                    <button aria-haspopup="true" aria-label="Open dropdown"
                            class="sidenav__menu-toggle">
                        <i class="ui-arrow-down"></i>
                    </button>
                    <ul class="sidenav__menu-dropdown">
                        <li>
                            <a class="sidenav__menu-url" href="single-post.html">Style 1</a>
                        </li>
                        <li>
                            <a class="sidenav__menu-url" href="single-post-politics.html">
                                Style
                                2
                            </a>
                        </li>
                        <li>
                            <a class="sidenav__menu-url" href="single-post-fashion.html">
                                Style
                                3
                            </a>
                        </li>
                        <li>
                            <a class="sidenav__menu-url" href="single-post-games.html">
                                Style
                                4
                            </a>
                        </li>
                        <li>
                            <a class="sidenav__menu-url" href="single-post-videos.html">
                                Style
                                5
                            </a>
                        </li>
                        <li>
                            <a class="sidenav__menu-url" href="single-post-music.html">
                                Style
                                6
                            </a>
                        </li>
                    </ul>
                </li>
                <li><a class="sidenav__menu-url" href="shortcodes.html">Shortcodes</a></li>
            </ul>
        </li>

        <!-- Categories -->
        <li>
            <a class="sidenav__menu-url" href="#">World</a>
        </li>
        <li>
            <a class="sidenav__menu-url" href="#">Business</a>
        </li>
        <li>
            <a class="sidenav__menu-url" href="#">Fashion</a>
        </li>
        <li>
            <a class="sidenav__menu-url" href="#">Lifestyle</a>
        </li>
        <li>
            <a class="sidenav__menu-url" href="#">Advertise</a>
        </li>
    </ul>
</nav>

<div class="socials sidenav__socials">
    <a aria-label="facebook" class="social social-facebook" href="#" target="_blank">
        <i class="ui-facebook"></i>
    </a>
    <a aria-label="twitter" class="social social-twitter" href="#" target="_blank">
        <i class="ui-twitter"></i>
    </a>
    <a aria-label="google" class="social social-google-plus" href="#" target="_blank">
        <i class="ui-google"></i>
    </a>
    <a aria-label="youtube" class="social social-youtube" href="#" target="_blank">
        <i class="ui-youtube"></i>
    </a>
    <a aria-label="instagram" class="social social-instagram" href="#" target="_blank">
        <i class="ui-instagram"></i>
    </a>
</div>