@model List<DanhMuc>

<ul>
    @foreach (var danhMuc in Model)
    {
        <li>
            <a asp-action="Index"
               asp-controller="Category"
               asp-route-id="@danhMuc.IdDanhMuc"
               asp-route-name="@danhMuc.TenDanhMuc.ToUrlFriendly()">
                @danhMuc.TenDanhMuc <span class="categories-count">@danhMuc.BaiBao.Count()</span>
            </a>
        </li>
    }
</ul>