<ul>
    <li>
        <a href="categories.html">World <span class="categories-count">5</span></a>
    </li>
    <li>
        <a href="categories.html">
            Lifestyle <span class="categories-count">7</span>
        </a>
    </li>
    <li>
        <a href="categories.html">
            Business <span class="categories-count">5</span>
        </a>
    </li>
    <li>
        <a href="categories.html">
            Fashion <span class="categories-count">8</span>
        </a>
    </li>
    <li>
        <a href="categories.html">
            Investment <span class="categories-count">10</span>
        </a>
    </li>
    <li>
        <a href="categories.html">
            Technology <span class="categories-count">6</span>
        </a>
    </li>
</ul>