@model List<DanhMuc>

<ul>
    @foreach (var danhMuc in Model)
    {
        <li>
            <a href="#">@danhMuc.TenDanhMuc <span class="categories-count">@danhMuc.BaiBao.Count()</span></a>
        </li>
    }
</ul>