<article class="entry">
    <div class="entry__img-holder">
        <a href="single-post.html">
            <div class="thumb-container thumb-60">
                <img alt="" class="entry__img lazyload"
                     data-src="img/content/review/review_post_1.jpg"
                     src="img/empty.png">
            </div>
        </a>
    </div>

    <div class="entry__body">
        <div class="entry__header">

            <h2 class="entry__title">
                <a href="single-post.html">
                    UN’s WFP Building Up Blockchain-Based
                    Payments System
                </a>
            </h2>
            <ul class="entry__meta">
                <li class="entry__meta-author">
                    <span>by</span>
                    <a href="#">DeoThemes</a>
                </li>
                <li class="entry__meta-date">
                    Jan 21, 2018
                </li>
            </ul>
            <ul class="entry__meta">
                <li class="entry__meta-rating">
                    <i class="ui-star"></i>
                    <i class="ui-star"></i>
                    <i class="ui-star"></i>
                    <i class="ui-star"></i>
                    <i class="ui-star-empty"></i>
                </li>
            </ul>
        </div>
    </div>
</article>
<article class="entry">
    <div class="entry__img-holder">
        <a href="single-post.html">
            <div class="thumb-container thumb-60">
                <img alt="" class="entry__img lazyload" data-src="img/content/review/review_post_2.jpg" src="img/empty.png">
            </div>
        </a>
    </div>

    <div class="entry__body">
        <div class="entry__header">
            <h2 class="entry__title">
                <a href="single-post.html">
                    4 credit card tips to make business
                    travel easier
                </a>
            </h2>
            <ul class="entry__meta">
                <li class="entry__meta-author">
                    <span>by</span>
                    <a href="#">DeoThemes</a>
                </li>
                <li class="entry__meta-date">
                    Jan 21, 2018
                </li>
            </ul>
            <ul class="entry__meta">
                <li class="entry__meta-rating">
                    <i class="ui-star"></i>
                    <i class="ui-star"></i>
                    <i class="ui-star"></i>
                    <i class="ui-star"></i>
                    <i class="ui-star-empty"></i>
                </li>
            </ul>
        </div>
    </div>
</article>