@model BaiBao
@{
    ViewData["Title"] = "Sửa bài báo";
}

<div class="admin-card" style="text-align:left;">
    <div class="admin-card-title">
        <h2 style="text-transform:uppercase;">Sửa bài báo</h2>
    </div>

    <form asp-action="Edit" asp-controller="BaiBao" method="post">
        <input type="hidden" asp-for="IdBaiBao" />

        <div class="form-group">
            <label asp-for="TieuDe">Tiêu đề</label>
            <input asp-for="TieuDe" class="k-textbox" style="min-width:100%;margin-bottom:4px;" autocomplete="off" />
        </div>

        <div class="form-group">
            <label asp-for="TomTat">Tóm tắt</label>
            <textarea asp-for="TomTat" class="k-textbox" rows="4" style="min-width:100%;margin-bottom:4px;padding:10px;"></textarea>
        </div>

        <div class="form-group">
            <label asp-for="NoiDung">Nội dung</label>
            @(Html.Kendo().EditorFor(model => model.NoiDung)
            .HtmlAttributes(new { style = "width:100%;height:700px" })
            .Tools(tools => tools
                .Clear()
                .Bold().Italic().Underline().Strikethrough()
                .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
                .InsertUnorderedList().InsertOrderedList()
                .Outdent().Indent()
                .CreateLink().Unlink()
                .InsertImage()
                .InsertFile()
                .SubScript()
                .SuperScript()
                .TableEditing()
                .ViewHtml()
                .Formatting()
                .CleanFormatting()
                .FontName()
                .FontSize()
                .ForeColor().BackColor()
                .Print())
            .ImageBrowser(browser => browser
            .Image("~/shared/user-files/images/{0}")
                .Read("Read", "ImageBrowser")
                .Create("Create", "ImageBrowser")
                .Destroy("Destroy", "ImageBrowser")
                .Upload("Upload", "ImageBrowser"))
            .Resizable(true)
            .Encoded(false))
        </div>

        <div class="form-group">
            <label asp-for="HinhAnh">Hình ảnh</label>
            @(Html.Kendo().EditorFor(model => model.HinhAnh)
                .HtmlAttributes(new { style = "min-width:100%;margin-bottom:4px;" })
                .Tools(tools => tools.InsertImage())
                .ImageBrowser(browser => browser
                    .Image("~/shared/user-files/images/{0}")
                    .Read("Read", "ImageBrowser")
                    .Create("Create", "ImageBrowser")
                    .Destroy("Destroy", "ImageBrowser")
                    .Upload("Upload", "ImageBrowser"))
               .Encoded(false))
        </div>

        <div class="form-group">
            <label asp-for="IdDanhMuc">Danh mục</label>
            @(Html.Kendo().ComboBoxFor(model => model.IdDanhMuc)
                .HtmlAttributes(new { style = "min-width:100%;" })
                .Filter(FilterType.Contains)
                .DataTextField("TenDanhMuc")
                .DataValueField("IdDanhMuc")
                .Suggest(true)
                .Placeholder("Chọn danh mục bài viết")
                .BindTo(ViewBag.DanhMuc))
        </div>

        <input type="submit" value="Sửa bài báo" class="k-button k-primary" style="margin-top:10px;" />
    </form>
</div>

<div>
    <a asp-action="Index" class="k-button">Về trang danh sách bài báo</a>
</div>