@model IEnumerable<BaiBao>
@{
    ViewData["Title"] = "Bài báo";
}

<div class="row" style="margin-bottom:1em;">
    <a href="#" class="k-button k-primary">Thêm bài báo</a>
</div>

<div class="row">
    <div class="col-3" style="padding-left:0;">
        <div class="admin-card">
            <h6>POST ID: <b></b></h6>
            <img src="~/img/content/grid/grid_post_1.jpg" style="max-width:100%;height:148px;border-radius:8px;" />
            <h3></h3>
            <h6>BY DIEN AT 1/1/1</h6>
            <div data-role="buttongroup" class="k-widget k-button-group" role="group" tabindex="0">
                <a class="k-button" href="#" aria-pressed="false" role="button">Xem</a>
                <a class="k-button" href="#" aria-pressed="false" role="button">Sửa</a>
                <a class="k-button" href="#" aria-pressed="false" role="button">Xóa</a>
            </div>
        </div>
    </div>
</div>