@model WebTinTuc.Models.Entities.BinhLuan

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>BinhLuan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NoiDung" class="control-label"></label>
                <input asp-for="NoiDung" class="form-control" />
                <span asp-validation-for="NoiDung" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenNguoiBl" class="control-label"></label>
                <input asp-for="TenNguoiBl" class="form-control" />
                <span asp-validation-for="TenNguoiBl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThoiGian" class="control-label"></label>
                <input asp-for="ThoiGian" class="form-control" />
                <span asp-validation-for="ThoiGian" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdBlcha" class="control-label"></label>
                <select asp-for="IdBlcha" class ="form-control" asp-items="ViewBag.IdBlcha"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdBaiBao" class="control-label"></label>
                <select asp-for="IdBaiBao" class ="form-control" asp-items="ViewBag.IdBaiBao"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

